*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* header section */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 25vh;
    background-image: url("/assets/worldmap.png");
    background-size: cover;
    background-position: center;

}

.logo{
    width: 10rem;
}

.title{
    color: #32CD32;
}

.description{
    color: #ffffff;
}

/* main section */
main{
    padding: 5em 5em;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    border: 0.1875em solid black;
    border-radius: 0.625em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 80%;
}

.user, .result{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
}

label{
    font-weight: 800;
}

select{
    margin-left: 1em;
}

textarea{
    margin-top: 1rem;
    width: 90%;
    height: 60%;
    background-color: lightgrey;
    border-radius: 0.6rem;
    border: none;
    padding: 1em;
}

.translate-btn{
    padding: 1.5em 10em;
    font-weight: 800;
    color: #ffffff;
    background: #32CD32;
    border: none;
    border-radius: 0.6rem;
    font-size: 1rem;
    margin-top: 2em auto 0 auto;
    cursor: pointer;
    align-self: center;
}

/* footer section */
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background: lightgrey;
    font-size: 0.7rem;
}

@media (min-width: 768px){

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .user, .result{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}
}